<a href="https://colab.research.google.com/github/Fahima-anny/python-basic/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #integer
x  =  5
print("Integer  is: ", x)

Integer  is:  5

In [ ]:
#float
y = 5.5
print("Float : ", y)

Float :  5.5

In [ ]:
#string
name = "Fahima Akter"
print("My name is ", name)

My name is  Fahima Akter

In [ ]:
#getting user info
user_name = input("Enter your name")
print("Hello ", user_name)

Enter your nameFahima
Hello  Fahima

In [ ]:
#boolean
is_the_day_sunny = False
print("Boolean :", is_the_day_sunny)

Boolean : False

In [ ]:
# Condition
age_of_user  = int(input("Enter your age"))
if  age_of_user >= 18 :
  print("You are an adult.")
else :
  print("You are child.")

Enter your age24
You are an adult.

In [ ]:
#For Loop
for i in range(3) :
  print("Number", i)

Number 0
Number 1
Number 2

In [ ]:
#List range with interval
list(range(1,15,3))

[1, 4, 7, 10, 13]

In [ ]:
a = ['fahima', 'is', 'trying', 'hard', 'for', 'better', 'future']
for i in range(len(a)) :
  print(i, a[i])

0 fahima
1 is
2 trying
3 hard
4 for
5 better
6 future

In [ ]:
#HW
list(range(1, 6))
# print("Number :", i)

[1, 2, 3, 4, 5]

In [ ]:
#While loop
i = 0
while i <=10 :
  print(i)
  i += 2

0
2
4
6
8
10

In [ ]:
#list append
a = ['apple', 'banana', 'lichi']
a.append('mango')
a.append('jackfruit')
print(a)
print(a[3])

['apple', 'banana', 'lichi', 'mango', 'jackfruit']
mango

In [ ]:
#Function
def greet(name):
  print("Hello ", name )

name = input("Enter Your Name ")
greet(name)

Enter Your Name Anny
Hello  Anny

In [ ]:
#Dictionaries
student = {"name": "Fahima", "age": 24, "Grade": "A"}
print("Student's data : ", student)
print("Student's grade :  ", student["Grade"])

Student's data :  {'name': 'Fahima', 'age': 24, 'Grade': 'A'}
Student's grade :   A

In [ ]:
# Loops with lists
colors = ["red", "blue", "purple"]
for color in colors :
  print("Color :" , color)

Color : red
Color : blue
Color : purple